name: CI checks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  NEXAPP_CORE_GOOGLE_MAPS_API_KEY: '${{ secrets.NEXAPP_CORE_GOOGLE_MAPS_API_KEY }}'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
    - name: Test with Maven
      run: mvn -B test --file pom.xml
